<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body data-barba="wrapper">
    {% include header.html %}
    <main data-barba="container">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
