<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body data-barba="wrapper">
    {% include header.html %}
    <main data-barba="container">
      <section class="section post">
        <div class="container content">
          <div class="columns is-centered">
            <div class="column is-10-tablet is-8-fullhd">
              <h1 class="title is-2 has-text-centered">{{ page.title }}</h1>
              {{ content }}
            </div>
          </div>
        </div>
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
