// _base.scss: Styles that do not fit in any other file
//
// Copyright © 2017-2020 Hugo Locurcio - MIT License
// See `LICENSE.md` included in the source distribution for details.

html
  // Same background color as the footer
  background-color: $grey-dark

body
  background-color: $white

a
  outline: 1px solid transparent

.navbar
  background-color: $grey-darker

  a
    color: $white-ter

a:not(.navbar-item),
a.card-footer-item
  color: $link
  border-bottom: 1px solid transparentize($link, 0.75)

  &:hover,
  &:focus
    background-color: transparentize($link, 0.9)
    outline: 1px solid transparentize($link, 0.9)
    color: darken($link, 5%)

  &:active
    background-color: transparentize($link, 0.8)
    outline: 1px solid transparentize($link, 0.8)
    color: darken($link, 15%)

a.navbar-item
  &:hover,
  &:focus
    background-color: $grey-dark
    border-bottom: none
    color: $white

  &:active
    background-color: darken($grey-darker, 4%)
    border-bottom: none
    color: $grey-lighter

.subtitle
  padding-top: 0.4rem

.card-content
  h2
    font-size: $size-4

  font-size: $size-6

.card-footer
  background-color: $white-ter
  border-top: none

// External link icon
.external-link::after
  content: "↗"
  margin-left: 0.25rem
  font-size: 0.85rem

.message-header
  font-weight: 700
