// _footer.scss: Styles specific to the footer
//
// Copyright © 2017-2020 Hugo Locurcio - MIT License
// See `LICENSE.md` included in the source distribution for details.

$footer-color: transparentize($white, 0.18)
$footer-link-color: $white

footer
  font-size: $size-6

  // Needs to end with `:not(.navbar-item)` to override `a:not(.navbar-item)`
  // from `_base.scss`
  a:not(.navbar-item)
    color: $footer-link-color
    border-bottom: 1px solid transparentize($footer-link-color, 0.75)

    &:hover,
    &:focus
      color: $footer-link-color
      background-color: transparentize($footer-link-color, 0.89)
      outline: 1px solid transparentize($footer-link-color, 0.89)

    &:active
      background-color: transparentize($footer-link-color, 0.78)
      outline: 1px solid transparentize($footer-link-color, 0.78)

.footer-about
  color: $footer-color
  background-color: $grey-darker
  padding-top: 2rem
  padding-bottom: 1rem

  .title
    color: $footer-color
    margin-bottom: 1.25rem

.footer-description
  margin-top: 2rem
  margin-bottom: 2rem

.footer-copyright
  background-color: $grey-dark
  color: $footer-color
  padding-top: 1rem
  padding-bottom: 1rem

ul.links
  // Remove spacing between list items
  display: flex

.links li
  display: inline-block

  // Display a separator after each element, except the last one
  &:not(:last-of-type)::after
    content: "⋅"
    margin: 0 0.35rem
