// _header.scss: Styles specific to the header (navbar)
//
// Copyright © 2017-2020 Hugo Locurcio - MIT License
// See `LICENSE.md` included in the source distribution for details.

// Logo
.navbar-brand
  color: $grey-lighter
  font-weight: 700

// Responsive navbar button (used on mobile)
.navbar-burger,
.navbar-burger.is-active
  background-color: $grey-dark
  border: none
  color: $white

  &:hover,
  &:focus
    background-color: lighten($grey-dark, 8%)
    color: $white

  &:active
    background-color: darken($grey-darker, 4%)
    color: $white

.navbar-menu
  background-color: $grey-darker
