// _home.scss: Styles specific to the home page
//
// Copyright © 2017-2020 Hugo Locurcio - MIT License
// See `LICENSE.md` included in the source distribution for details.

.section-home
  background-color: $black-ter
  color: $white-ter

  .title
    line-height: 1.4
    color: $white-ter

.home-subtitle
  font-size: $size-5
  margin-top: 2rem
  margin-bottom: 2rem
  text-align: justify

.section-title
  font-size: $size-2

  // `!important` is required so that .title does not override it
  margin-bottom: 4rem !important

.card-portfolio
  .subtitle
    margin-bottom: 1.75rem

  // Make the color transition less jarring while images are loading
  .card-image
    background-color: $grey

.section-thanks
  background-color: $white-ter
  padding-bottom: 4rem
