// _projects.scss: Styles specific to the projects page
//
// Copyright © 2017-2020 Hugo Locurcio - MIT License
// See `LICENSE.md` included in the source distribution for details.

.card-project
  .title
    margin-bottom: 2rem

  .tags
    margin-top: 1.5rem

.project
  h1
    text-align: center
    font-size: 2.5rem
    padding-bottom: 1rem

  h2
    // Add a line below each title in posts
    border-bottom: 0.0625rem solid lighten($grey-lighter, 5%)
    font-weight: 500
    padding-bottom: 0.4rem
