---
layout: page
title: Unofficial Godot Engine builds
description: Download daily Godot Engine builds for all platforms here.
---

<section class="section project">
  <div class="container">
    <div class="columns is-centered">
      <div class="content column is-9-desktop is-8-widescreen is-7-fullhd">
        <h1>Unofficial Godot Engine builds</h1>
        <article class="message is-warning">
          <div class="message-header">
            Warning
          </div>
          <div class="message-body">
            The stability of these builds is not guaranteed. Use them at your own risk.<br>
            Make regular backups of your projects!
            <br><br>
            Official stable releases are available
            <a href="https://godotengine.org/download/" rel="noopener noreferrer">here<span class="external-link"></span></a>.
            <br><br>
            <strong>
              Builds on this website may not always be up-to-date due to the
              <a href="https://godotengine.org/article/core-refactoring-progress-report-2" rel="noopener noreferrer">refactoring<span class="external-link"></span></a>
              currently ongoing in the <code>master</code> branch. Sorry for the inconvenience.
            </strong>
          </div>
        </article>

        <h2>Information</h2>

        <p>
          This page lists Godot builds containing the latest changes.<br>
          Please report issues pertaining to the engine
          <a href="https://github.com/godotengine/godot/issues">on GitHub<span class="external-link"></span></a>.
        </p>

        <p>
          These builds are automatically uploaded every day around 02:00 (UTC) using Azure Pipelines and GitLab CI.<br>
          Please report issues pertaining to these builds
          <a href="https://github.com/Calinou/godot-builds-ci/issues">on GitHub<span class="external-link"></span></a>.
          Do not report engine-related issues there; please report them on the Godot repository
          instead.
        </p>

        <p>
          Builds on this page are currently less optimized than official
          releases since <code>target=release_debug</code> and
          <code>target=release</code> are broken in the
          <code>master</code> branch. Do not use these builds to compare
          performance with official releases.
        </p>

        <h2>Downloads</h2>

        <article class="message is-success">
          <div class="message-body">
            If you like these daily builds, consider <a href="http://patreon.com/calinou">pledging on Patreon</a> to
            contribute to their maintenance.<br>
            Thanks for your support!
          </div>
        </article>

        <h3>Editor</h3>

        <table class="table is-fullwidth is-bordered is-striped">
          <tbody>
            <tr>
              <th>Windows</th>
              <td>
                <a href="https://archive.hugo.pro/builds/godot/master/editor/godot-setup-nightly-x86_64.exe">
                  64-bit editor (installer, <strong>recommended</strong>)
                </a><br>
                <a href="https://archive.hugo.pro/builds/godot/master/editor/godot-windows-nightly-x86_64.zip">
                  64-bit editor (ZIP archive)
                </a>
              </td>
              <td>
                <a href="https://archive.hugo.pro/builds/godot/master/editor/godot-setup-nightly-x86.exe">
                  32-bit editor (installer)
                </a><br>
                <a href="https://archive.hugo.pro/builds/godot/master/editor/godot-windows-nightly-x86.zip">
                  32-bit editor (ZIP archive)
                </a>
              </td>
            </tr>
            <tr>
              <th>macOS</th>
              <td colspan="2">
                <a href="https://archive.hugo.pro/builds/godot/master/editor/godot-macos-nightly-x86_64.dmg">
                  64-bit editor
                </a>
              </td>
            </tr>
            <tr>
              <th>Linux</th>
              <td colspan="2">
                <a href="https://archive.hugo.pro/builds/godot/master/editor/godot-linux-nightly-x86_64.zip">
                  64-bit editor
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <h3>Server and export templates</h3>

        <table class="table is-fullwidth is-bordered is-striped">
          <tbody>
            <tr>
              <th>Linux server</th>
              <td>
                <a href="https://archive.hugo.pro/builds/godot/master/server/godot-linux-headless-nightly-x86_64.tar.xz">
                  64-bit <em>headless</em> editor
                </a>
                <div class="is-size-6 has-text-grey">
                  For exporting projects and automation.
                </div>
              </td>
              <td>
                <a href="https://archive.hugo.pro/builds/godot/master/server/godot-linux-server-nightly-x86_64.tar.xz">
                  64-bit server
                </a>
                <div class="is-size-6 has-text-grey">
                  For running dedicated servers.
                </div>
              </td>
            </tr>
            <tr>
              <th>Export templates</th>
              <td>
                <a href="https://archive.hugo.pro/builds/godot/master/templates/godot-templates-android-html5-linux-windows-nightly.tpz">
                  Windows + Linux
                </a>
                <div class="is-size-6 has-text-grey">
                  Android and HTML5 exports are temporarily unavailable.
                </div>
              </td>
              <td>
                <a href="https://archive.hugo.pro/builds/godot/master/templates/godot-templates-ios-macos-nightly.tpz">
                  macOS + iOS
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <h3>Documentation</h3>

        <p>Since May 2021, official Godot documentation HTML builds for offline reading are now available from GitHub Actions:
        <ul>
          <li>
            <a href="https://nightly.link/godotengine/godot-docs/workflows/build_offline_docs/master/godot-docs-html-master.zip"
              ><code>master</code> branch</a>
            </li>
          <li>
            <a href="https://nightly.link/godotengine/godot-docs/workflows/build_offline_docs/master/godot-docs-html-stable.zip"
              ><code>stable</code> branch</a>
            </li>
        </ul>

        <h2>Platform-specific notes</h2>

        <h3>Windows</h3>
        <p>
          The installer and editor binaries are not signed and may throw a security warning from
          Windows SmartScreen; this does not mean they contain a virus. Check out the
          <a target="_blank" href="https://www.virustotal.com/#/file/898c0c9b90267556239536a1e3a9a1292e20b9673f6582611d3b5655137907bc">
            periodically-updated Virus Total report<span class="external-link"></span>
          </a>.
        </p>
        <p>
          See
          <a href="https://answers.microsoft.com/en-us/windows/forum/windows_10-security/disable-smartscreen/7eba8c14-6619-4b53-a488-b898a11598e7">
            this page<span class="external-link"></span>
          </a>
          for instructions on disabling Windows SmartScreen (set
          <strong>Check apps and files</strong> to <strong>Off</strong>).
        </p>

        <h3>macOS</h3>
        <p>
          The application is not signed (as it costs money to do so) and will refuse to run by
          default. To run it, right-click the Godot application, choose <strong>Open</strong> in
          the dropdown then click <strong>Open</strong> in the warning dialog. It will only ask on
          the first application start, not on subsequent starts.
        </p>
        <p>
          Note that on macOS 10.15, you may have to perform this operation twice before it actually works.
          See also <a href="https://disable-gatekeeper.github.io/">this page</a> for instructions on disabling
          Gatekeeper.
        </p>

        <h3>Linux</h3>
        <p>
          The Linux editor binary is built on Ubuntu 16.04. It should run on any
          distribution as new or newer (as long as the CPU architecture is
          x86_64).
        </p>
      </div>
    </div>
  </div>
</section>
